/*@import "compass/css3";*/
@import "compass/css3";
@import url("https://fonts.googleapis.com/css?family=Poppins");

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	background: #facdf3;
	font-family: "Poppins", sans-serif;
	margin: 0 0 0 0;
}

a {
	text-decoration: none;
	color: #46a9e6;
	transition: 0.5s ease;
}

a:hover {
	color: #309fe3;
}

.logout {
	background: rgba(255, 255, 255, 0.9);
	padding: 40px;
	max-width: 600px;
	margin: 40px auto;
	border-radius: 10px;
	-webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.form {
	background: rgba(255, 255, 255, 0.9);
	padding: 40px;
	max-width: 600px;
	margin: 40px auto;
	border-radius: 10px;
	-webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.tab-group {
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
}

.tab-group:after {
	content: "";
	display: table;
	clear: both;
}

.tab-group li a {
	display: block;
	text-decoration: none;
	padding: 15px;
	background: rgba(160, 179, 176, 0.25);
	color: #a0b3b0;
	font-size: 20px;
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer;
	transition: 0.5s ease;
}

.tab-group li a:hover {
	background: #309fe3;
	color: #000;
}

.tab-group .active a {
	background: #46a9e6;
	color: #fff;
}

.tab-content>div:last-child {
	display: none;
}

h1 {
	text-align: center;
	color: #000;
	font-weight: 300;
	margin: 0 0 40px;
}

label {
	position: absolute;
	transform: translateY(6px);
	left: 13px;
	color: rgba(0, 0, 0, 0.5);
	transition: all 0.25s ease;
	-webkit-backface-visibility: hidden;
	pointer-events: none;
	font-size: 22px;
}

label .req {
	margin: 2px;
	color: #46a9e6;
}

label.active {
	transform: translateY(50px);
	left: 2px;
	font-size: 14px;
}

label.active .req {
	opacity: 0;
}

label.highlight {
	color: #000;
}

input,
textarea {
	font-size: 22px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	background: none;
	background-image: none;
	border: 1px solid #a0b3b0;
	color: #000;
	border-radius: 0;
	transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

input:focus,
textarea:focus {
	outline: 0;
	border-color: #46a9e6;
}

textarea {
	border: 2px solid #a0b3b0;
	resize: vertical;
}

.field-wrap {
	position: relative;
	margin-bottom: 40px;
}

.top-row:after {
	content: "";
	display: table;
	clear: both;
}

.top-row>div {
	float: left;
	width: 48%;
	margin-right: 4%;
}

.top-row>div:last-child {
	margin: 0;
}

.button {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 15px 0;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	background: #46a9e6;
	color: #fff;
	transition: all 0.5s ease;
	-webkit-appearance: none;
	width: 100%;
}

.button:hover,
.button:focus {
	background: #309fe3;
}

.button-block {
	display: block;
	width: 100%;
}

/*.forgot {
	margin-top: -20px;
	text-align: right;
}*/

.forgot2 {
	margin-top: -20px;
	text-align: center;
}

.errorPage {
    z-index: 1000;
    text-align: center;
    padding: 30px;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgb(214 17 186 / 64%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    max-width: 550px;
    height: auto;
    opacity: 1;
    transition: 1s;
    animation-name: animatetop;
    animation-duration: 0.25s;
    animation-timing-function: linear;
}

.errorPage h1 {
    color: white;
    margin-bottom: 2%;
}

.errorPage button {
	background: #46a9e6;
	border-color: #46a9e6;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
}

.errorPage.closed {
	display: none;
	z-index: 1;
  }

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

/*Nav bar CSS*/
/* The navigation bar */
.navbar {
	overflow: hidden;
	background-color: #d611ba;
	position: relative;
	top: 0;
	width: 100%;
}

/* Links inside the navbar */
.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
	background: #f2f2f2;
	color: #d611ba;
}

/*Nav bar CSS*/
/* The navigation bar */
.footer {
	overflow: hidden;
	background-color: #d611ba;
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* Links inside the navbar */
.footer a {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change background on mouse-over */
.footer a:hover {
	background: #f2f2f2;
	color: #d611ba;
}